// 全局样式
body {
  background-color: #f5f7f9;
}
.van-nav-bar {
  background-color: #3296fa; 
  .van-nav-bar__title{
    color: #fff;
  }
  .van-icon {
    color: #fff; 
  }
}
.top-yanzhengma {
  .van-field__left-icon {
   margin-top: 2px;
 }
}
.cffa550 {
  color: #ffa550;
}
.c777 {
  color: #777;
}
// .layout-container {
//   /deep/ .van-hairline--top-bottom {
//     /* 项目模式莫名其妙多出一个这样的定位 */
//     /* position: relative; */
//     position: none !important;
//   }
//   }